/**{
	margin:0;
	padding: 0;
}*/

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /*margin: 2rem;*/
}

h1 {
  border-bottom: 0.5rem solid blue;
}

h2 {
  border: 0.2rem solid black;
  /*margin:;*/
}

#datos {
  border-top: 0.4rem dotted red;
  border-bottom: 0.4rem dotted red;
  margin-left: 3rem;
}

.border-1 {
  border: 0.3rem dotted green;
}
